# Test Annie's Code

In [1]:
ls

example-wilks.do             genericRandomzationCode.ipynb  README.txt
genericRandomizationCode.py  rand.py

In [7]:
from rand import Randomize

In [8]:
if __name__ == '__main__':
    # AMS: Why is strata defined this way?
    # AMS: Asssumes knowledge of number of observations in file.
    strata = [1] * 100 + [2] * 101 + [3] * 30
    x = Randomize(strata=strata,
                  treat_distrib=[0.25, 0.25, 0.25],
                  seed=628491)
    assign = x.strat_rand()

Treatment distrib did not add to 1, rescaled to [0.33333333333333331, 0.33333333333333331, 0.33333333333333331]

In [9]:
import pandas as pd
pd.crosstab(strata, assign)

,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,col_0,0,1,2
row_0,row_1,row_2,row_3,row_4,row_5,row_6,row_7,row_8,row_9,row_10,row_11,row_12,row_13,row_14,row_15,row_16,row_17,row_18,row_19,row_20,row_21,row_22,row_23,row_24,row_25,row_26,row_27,row_28,row_29,row_30,row_31,row_32,row_33,row_34,row_35,row_36,row_37,row_38,row_39,row_40,row_41,row_42,row_43,row_44,row_45,row_46,row_47,row_48,row_49,row_50,row_51,row_52,row_53,row_54,row_55,row_56,row_57,row_58,row_59,row_60,row_61,row_62,row_63,row_64,row_65,row_66,row_67,row_68,row_69,row_70,row_71,row_72,row_73,row_74,row_75,row_76,row_77,row_78,row_79,row_80,row_81,row_82,row_83,row_84,row_85,row_86,row_87,row_88,row_89,row_90,row_91,row_92,row_93,row_94,row_95,row_96,row_97,row_98,row_99,row_100,row_101,row_102,row_103,row_104,row_105,row_106,row_107,row_108,row_109,row_110,row_111,row_112,row_113,row_114,row_115,row_116,row_117,row_118,row_119,row_120,row_121,row_122,row_123,row_124,row_125,row_126,row_127,row_128,row_129,row_130,row_131,row_132,row_133,row_134,row_135,row_136,row_137,row_138,row_139,row_140,row_141,row_142,row_143,row_144,row_145,row_146,row_147,row_148,row_149,row_150,row_151,row_152,row_153,row_154,row_155,row_156,row_157,row_158,row_159,row_160,row_161,row_162,row_163,row_164,row_165,row_166,row_167,row_168,row_169,row_170,row_171,row_172,row_173,row_174,row_175,row_176,row_177,row_178,row_179,row_180,row_181,row_182,row_183,row_184,row_185,row_186,row_187,row_188,row_189,row_190,row_191,row_192,row_193,row_194,row_195,row_196,row_197,row_198,row_199,row_200,row_201,row_202,row_203,row_204,row_205,row_206,row_207,row_208,row_209,row_210,row_211,row_212,row_213,row_214,row_215,row_216,row_217,row_218,row_219,row_220,row_221,row_222,row_223,row_224,row_225,row_226,row_227,row_228,row_229,row_230,,,
1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,77,77,77

# Test Grace & Audrey's Code

In [1]:
from genericRandomizationCode import randomization

In [2]:
rdm = randomization()

In [3]:
print(rdm.seed)

5541284450469

# Play with Python

In [4]:
import numpy as np
import pandas as pd

In [36]:
number = np.random.randint(999999999999)

In [37]:
number

970899322601

In [92]:
np.random.seed(98632)

In [93]:
test = pd.DataFrame({'humans':['Audrey', 'Grace', 'Joe', 'Paul', 'Genny'], 'myStrata':['F', 'F', 'M', 'M', 'F']})

In [94]:
str(test)

'   humans myStrata\n0  Audrey        F\n1   Grace        F\n2     Joe        M\n3    Paul        M\n4   Genny        F'

In [95]:
test['rdmSortVal'] = np.random.choice(len(test)+1, len(test), replace = False)

In [96]:
test

   humans myStrata  rdmSortVal
0  Audrey        F           0
1   Grace        F           5
2     Joe        M           2
3    Paul        M           4
4   Genny        F           1

In [97]:
test.sort(['rdmSortVal'], inplace = True)

In [98]:
test

   humans myStrata  rdmSortVal
0  Audrey        F           0
4   Genny        F           1
2     Joe        M           2
3    Paul        M           4
1   Grace        F           5

In [103]:
numConditions = 2
np.random.choice(numConditions, len(test))

array([1, 1, 0, 1, 1])

In [ ]:
pd.reah

In [77]:
test = pd.DataFrame({'humans':['Audrey', 'Grace', 'Joe', 'Paul', 'Genny'], 'myStrata':['F', 'F', 'M', 'M', 'F']})

In [78]:
test

   humans myStrata
0  Audrey        F
1   Grace        F
2     Joe        M
3    Paul        M
4   Genny        F

In [79]:
strataList = test['myStrata']

In [80]:
strataList

0    F
1    F
2    M
3    M
4    F
Name: myStrata, dtype: object

In [81]:
set(strataList)

{'F', 'M'}

In [84]:
vals = [x for x in set(test['myStrata'])]

In [85]:
vals

['F', 'M']

In [86]:
test.loc[test['myStrata'] == 'F']

   humans myStrata
0  Audrey        F
1   Grace        F
4   Genny        F

In [87]:
test

   humans myStrata
0  Audrey        F
1   Grace        F
2     Joe        M
3    Paul        M
4   Genny        F

In [15]:
test['rdmSortVal']

0    0.267819
1    0.267819
2    0.267819
3    0.267819
4    0.267819
Name: rdmSortVal, dtype: float64

In [238]:
number = 5

In [239]:
myList = list(range(number))

In [240]:
myList

[0, 1, 2, 3, 4]

In [241]:
startCode = np.random.choice(myList)

In [242]:
startCode

3

In [243]:
beginCode = myList[startCode:]

In [244]:
beginCode

[3, 4]

In [245]:
myList[startCode:] = []

In [246]:
myList

[0, 1, 2]

In [217]:
insert + myList

[3, 4, 0, 1, 2]

In [417]:
test = [1,2,3,4,5,6,7,8]

In [420]:
number = 11
myList = list(range(number))
startCode = np.random.choice(myList)
newList = myList[startCode:] + myList[:startCode]
newList = ((len(test)//number)*newList) + newList[:(len(test)%number)]

In [421]:
newList

[7, 8, 9, 10, 0, 1, 2, 3]

In [402]:
newList[:(len(test)%number)]

[2, 0]

In [327]:
p = 0
num_cond = 2
a = np.random.choice(num_cond)
assign = []
while p < len(test):
    if a == (num_cond - 1):
        assign.append(a)
        a = 0
    else:
        assign.append(a)
        a += 1
    p+=1

In [328]:
assign

[0, 1, 0, 1, 0]

In [329]:
test['condition'] = assign

In [330]:
test

   humans myStrata  rdmSortVal  condition
0  Audrey        F           0          0
4   Genny        F           1          1
2     Joe        M           2          0
3    Paul        M           4          1
1   Grace        F           5          0